*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100px;
}
.navcontainer{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
.navbar{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 100%;
    height: 60px;
    
}
.logo img{
    width: 10%;
    height:50px;
    margin-left: 40px;
    padding-top: 10px;
    
}
.navlinks{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
}
.navlinks li{
    list-style-type: none;
}
.navlinks li a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.navlinks li a:hover{
    background-color: blue;
    color: blueviolet;
    border-radius: 20px;
}
.drop1{
    position: absolute;
    display: none;
    
}
.navlinks li:hover .drop1{
    display: block;
}
.navlinks li:hover .drop1{
    background-color: black;
    color: brown;
}
